* {
  box-sizing: border-box;
  font-family: Arial, serif;
}

body {
  background: black;
  color: white;
}

.particles-box {
  align-items: center;
  background: linear-gradient(207deg, #396c93 35%, transparent);
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  width: 100%;
}

.particles-box::before {
  background: linear-gradient(117deg, #000 15%, transparent 50%, transparent 65%, #000 95%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.particles-box__content {
  align-items: center;
  background: white;
  display: flex;
  font-size: 30px;
  height: 40%;
  justify-content: center;
  position: relative;
  width: 40%;
}

.particle-effect {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.particle-effect__box {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.particle-effect__box::before {
  border-radius: 50%;
  box-shadow: 68px 191px 5px 3px rgba(255, 255, 255, 0.5), 51px 161px 5px 3px rgba(255, 255, 255, 0.5), 239px 177px 5px 3px rgba(255, 255, 255, 0.5), 146px 238px 5px 3px rgba(255, 255, 255, 0.5), 235px 200px 5px 3px rgba(255, 255, 255, 0.5), 80px 172px 5px 3px rgba(255, 255, 255, 0.5), 31px 174px 5px 3px rgba(255, 255, 255, 0.5), 54px 68px 5px 3px rgba(255, 255, 255, 0.5), 85px 69px 5px 3px rgba(255, 255, 255, 0.5), 252px 42px 5px 3px rgba(255, 255, 255, 0.5), 164px 190px 5px 3px rgba(255, 255, 255, 0.5), 178px 90px 5px 3px rgba(255, 255, 255, 0.5), 216px 152px 5px 3px rgba(255, 255, 255, 0.5), 49px 78px 5px 3px rgba(255, 255, 255, 0.5), 251px 196px 5px 3px rgba(255, 255, 255, 0.5), 256px 226px 5px 3px rgba(255, 255, 255, 0.5), 206px 176px 5px 3px rgba(255, 255, 255, 0.5), 236px 33px 5px 3px rgba(255, 255, 255, 0.5), 219px 64px 5px 3px rgba(255, 255, 255, 0.5), 229px 227px 5px 3px rgba(255, 255, 255, 0.5), 56px 284px 5px 3px rgba(255, 255, 255, 0.5), 271px 259px 5px 3px rgba(255, 255, 255, 0.5), 168px 267px 5px 3px rgba(255, 255, 255, 0.5), 23px 127px 5px 3px rgba(255, 255, 255, 0.5), 22px 202px 5px 3px rgba(255, 255, 255, 0.5), 40px 96px 5px 3px rgba(255, 255, 255, 0.5), 254px 73px 5px 3px rgba(255, 255, 255, 0.5), 90px 224px 5px 3px rgba(255, 255, 255, 0.5), 65px 119px 5px 3px rgba(255, 255, 255, 0.5), 256px 28px 5px 3px rgba(255, 255, 255, 0.5), 112px 75px 5px 3px rgba(255, 255, 255, 0.5), 49px 24px 5px 3px rgba(255, 255, 255, 0.5), 255px 163px 5px 3px rgba(255, 255, 255, 0.5), 69px 3px 5px 3px rgba(255, 255, 255, 0.5), 107px 133px 5px 3px rgba(255, 255, 255, 0.5), 184px 271px 5px 3px rgba(255, 255, 255, 0.5), 293px 104px 5px 3px rgba(255, 255, 255, 0.5), 25px 167px 5px 3px rgba(255, 255, 255, 0.5), 282px 243px 5px 3px rgba(255, 255, 255, 0.5), 213px 255px 5px 3px rgba(255, 255, 255, 0.5), 27px 54px 5px 3px rgba(255, 255, 255, 0.5), 238px 106px 5px 3px rgba(255, 255, 255, 0.5), 106px 214px 5px 3px rgba(255, 255, 255, 0.5), 186px 65px 5px 3px rgba(255, 255, 255, 0.5), 30px 94px 5px 3px rgba(255, 255, 255, 0.5), 113px 246px 5px 3px rgba(255, 255, 255, 0.5), 132px 139px 5px 3px rgba(255, 255, 255, 0.5), 162px 86px 5px 3px rgba(255, 255, 255, 0.5), 278px 20px 5px 3px rgba(255, 255, 255, 0.5), 122px 34px 5px 3px rgba(255, 255, 255, 0.5), 18px 118px 5px 3px rgba(255, 255, 255, 0.5);
  content: '';
  height: 1px;
  left: 50%;
  top: 50%;
  width: 1px;
}

/*# sourceMappingURL=style.css.map */