$particles-per-plate: 200;
$particle-speed: 10;

@function generateParticles($size) {
  $box-shadow-string:();

  @for $i from 0 through $particles-per-plate {
    $box-shadow-string: append($box-shadow-string, #{randromPercentage()}vw #{randromPercentage()}vh #{$size * 5}px #{$size * 3}px rgba(255, 255, 255, 0.5), comma);
  }

  @return $box-shadow-string;
}

@function randromPercentage() {
  @return ((random(100) - 50) * 2);
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translate(-50%, -50%)
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%)
  }
}

@keyframes x-shift {
  0%, 50%, 100% {
    left: 50%;
  }

  25% {
    left: 75%;
  }

  75% {
    left: 25%;
  }
}

@keyframes y-shift {
  0%, 100% {
    top: 25%;
  }

  25%, 75% {
    top: 50%;
  }

  50% {
    top: 75%;
  }
}

@keyframes slide1 {
  0% {
    left: -100%;
    top: -100%;
  }

  100% {
    left: 100%;
    top: 100%;
  }
}

@keyframes slide2 {
  0% {
    left: 100%;
    top: -100%;
  }

  100% {
    left: -100%;
    top: 100%;
  }
}

@keyframes slide3 {
  0% {
    left: 100%;
    top: 100%;
  }

  100% {
    left: -100%;
    top: -100%;
  }
}

* {
  box-sizing: border-box;
  font-family: Arial, serif;
}

body {
  background: black;
  color: white;
}

.particles-box {
  align-items: center;
  background: linear-gradient(207deg, #396c93 35%, transparent);
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  width: 100%;

  &::before {
    background: linear-gradient(117deg, #000 15%, transparent 50%, transparent 65%, #000 95%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content {
    align-items: center;
    background: white;
    color: black;
    display: flex;
    font-size: 30px;
    height: 40%;
    justify-content: center;
    position: relative;
    width: 40%;

    &::before {
      animation: x-shift 2s infinite, y-shift 2s infinite 1s;
      background: red;
      content: '';
      height: 5px;
      position: absolute;
      width: 5px;
    }
  }
}

.particle-effect {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  &__box {
    animation: orbit 21s infinite linear;
    height: 25%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    //transform-origin: left top;
    width: 25%;

    &::before {
      animation: inherit;
      animation-direction: reverse;
      border-radius: 50%;
      content: '';
      height: 1px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
    }

    @for $i from 0 through 3 {
      $animation-duration: ($i * 30);

      &--#{$i} {

        animation-delay: -#{$i * 7}s;
        animation-duration: #{10 + (5 * $i)}s;

        &::before {
          box-shadow: generateParticles($i);
        }
      }
    }
  }
}
